<a routerLink="">作成へ</a>
<ul>
  <li class="item" *ngFor="let item of list; index as i">
    {{ i + 1 }}
    {{ item.title }}
    {{ item.body }}
    {{ item.id }}
    {{ "いいね" + item.likeCount }}
    <button *ngIf="!isLiked(item.id)" (click)="like(item.id)">いいね！</button>
    <button *ngIf="isLiked(item.id)" (click)="unLike(item.id)">やめる</button>
  </li>
</ul>
<div *ngIf="canLoading" class="checkpoint" appVisible (visible)="moreSearch()">
  checkpoint
  <mat-spinner *ngIf="visiable"></mat-spinner>
</div>
